# === Python ===
venv/
__pycache__/
*.py[cod]
*.so
*.h5
*.hdf5
model/

# === Node.js / React Native ===
node_modules/
.expo/
.expo-shared/
android/
ios/
*.log

# === Lock file (keep only if using yarn)
# package-lock.json

# === Environment and config ===
.env
.vscode/
.DS_Store

# === Build Artifacts ===
*.apk
*.aab
